@model BMIWeb.Models.WrapperModels.PersonWrapper

@section content {
   @Scripts.Render("~/Scripts/Custom/NewPerson.js")
    @{
        List<String> personsdata = ViewBag.personsList;
        
        <div>
            <div class="messageField">
                @ViewBag.Message
            </div>
            @{
                using (Html.BeginForm(Model))
                {
                    Html.RenderPartial("~/Views/BMI/PersonDataPartial.cshtml", Model);

                    <div>
                        <button type="submit" id="btnSubmit" style="float:left">OK</button>
                        <button type="button" id="btnCancel" style="float:left">Cancel</button>
                    </div>
                }
            }    
        </div>
     }
}


